<% layout("layout/boilerplate") %>

<div class=" row">
<div class="alert alert-danger col-6 offset-3" role="alert">
 Page not Found!
</div>

<div class="alert alert-danger mt-4 text-center w-75 mx-auto" role="alert">
  <%= message %>
</div>

</div>